<?xml version="1.0"?>
<configuration>


  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="SystemEmail" value="test@batisapp.ir"/>
    <add key="SystemEmailPassword" value="testtesti"/>
    <add key="ExpirationForSubmitOnline" value="30"/>
    <add key="ExpirationForSelectReferee" value="10"/>
    <add key="TheMinimumReferees" value="2"/>
    <add key="InterimCodePaper" value="x"/>
    <add key="PermanentCodePaper" value="f"/>
    <add key="SystemEmailHostName" value="mail.red.mysitehosted.com"/>
    <add key="SystemEmailDisplayName" value="Scientific and research system"/>
    <add key="SiteNameInEnglish" value="Scientific Research Management System"/>
    <add key="SiteNameInPersian" value="سامانه مدیریت مقالات علمی و پژوهشی"/>
  </appSettings>
  
 
  <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <!--arman-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="Jurnaldb" connectionString="Data Source=192.168.100.15;Initial Catalog=JurnalMainDB_New;User ID=BatisApp;Password=batismatis" providerName="System.Data.SqlClient" />
    <!--<add name="Jurnaldb" connectionString="Data Source=red.mysitehosted.com;Initial Catalog=jurnaltest1;User ID=Developer;Password=vagdartimjar" providerName="System.Data.SqlClient" />-->
    <!--<add name="AutoSysDB" connectionString="Data Source=192.168.100.15;Initial Catalog=AutoSystemMainDB_Jur;User ID=BatisApp;Password=batismatis" providerName="System.Data.SqlClient" />-->
    <!--    <add name="Jurnaldb" connectionString="Data Source=sql.ustmb.ac.ir;Initial Catalog=JournalMainDB;User ID=uj12957;Password=maghaleGood#1" providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default2.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>